@import "./variables.scss";

.card {
    width: 19em;
    height: 33em;
    background-image: linear-gradient(163deg, $color-primary 0%, $secondary-color 100%);
    border-radius: 20px;
    transition: all .3s;

    &:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
        cursor: pointer;
    }
}

.cardContainer {
    text-decoration: none;
    font-style: none;
    width: 19em;
    height: 33em;
    text-align: center;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;

    transition: all .3s linear;

    &:hover {
        transform: scale(0.98);
        border-radius: 20px;

        .description {
            border-bottom: 2px double $secondary-color;
            filter: brightness(2.4);
        }        
    }

    .title {
        color: $color-primary;
        text-shadow: 2px 4px 5px rgba(0, 255, 117, 0.30);
        font-weight: bold;

        font-size: 1.4em;
    }

    .image {
        width: 13em;
        height: 18em;
    }

    .description {
        color: #fff;
        opacity: 0.6;
        border-bottom: 4px double $color-primary;
        text-transform: lowercase;
        padding-bottom: 5px;
    }

    .value {
        color: #fff;
        opacity: 0.9;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        font-weight: bold;
        font-size: 1.3em;  
    }

    .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: $color-primary;
        color: #000;
        font-family: "Montserrat", sans-serif;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        font-weight: 500;
        border: none;
        width: 150px;
        height: 50px;

        &:after {
            content: " ";
            width: 0%;
            height: 100%;
            background: $secondary-color;
            position: absolute;
            transition: all 0.4s ease-in-out;
            right: 0;
        }

        &:hover::after {
            right: auto;
            left: 0;
            width: 100%;
        }

        .btnSpan {
            text-align: center;
            text-decoration: none;
            width: 100%;
            padding: 18px 25px;
            color: #000;
            font-size: 1.125em;
            font-weight: 700;
            letter-spacing: 0.05em;
            z-index: 20;
            transition: all 0.3s ease-in-out;
        }

        &:hover span {
            color: #fff;
            animation: scaleUp 0.3s ease-in-out;
            filter: brightness(1.4);
        }

        @keyframes scaleUp {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.95);
            }

            100% {
                transform: scale(1);
            }
        }
    }
}