@import "./variables.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
    height: 100px;
}

.footer p {
    opacity: 0.8;
}