@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cabin:wght@400;500;700&family=Josefin+Sans:wght@700&family=Kaushan+Script&family=Public+Sans:wght@400;500;600;700;800&family=Roboto&family=Titan+One&display=swap');

* {
  font-family: 'Public Sans', 'Cabin',sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 7px;    
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {    
  -webkit-border-radius: 12px;
  border-radius: 0px;
  background-color: $color-primary;
}
