@import "./variables.scss";

.container {
    min-height: 80vh;
    color: #fff;
    padding-bottom: 120px;


    .titleContainer h1 {
        font-weight: bold;
        border-bottom: 7px solid $color-primary;
        text-shadow: 5px 5px 2px $secondary-color;
    }

    .productContainer {
        background-color: #212121;
        color: $white-color;
        border-radius: 50px 60px 40px 10px;
        display: flex;
        align-items: center;
        padding: 90px 20px;
        box-shadow: 0px 0px 40px $secondary-color;

        img {
            width: 24rem;
        }

        .descriptionContainer {
            padding: 40px 0;

            p {
                font-weight: bold;
                padding-left: 10px;
                display: flex;
                color: $color-primary;
            }

            h6 {
                font-weight: 500;
                padding-left: 10px;    
                opacity: 0.8;    
                text-transform: capitalize;        
            }
        }

        .calcFreightContainer {
            width: max-content;
            
            input {
                padding: 8px 0px;
                border-radius: 10px 5px 9px 4px;
            }

            button {
                margin-left: 20px;
                padding: 10px 15px;
                font-weight: bold;
                border-radius: 10px 5px 9px 4px;
                transition: all .6s;
                color: $bg-color;
                background-color: $color-primary;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }

        .buyContainer {
            display: flex;

            input {
                width: 3.3em;
                height: 2em;
                font-size: 1.2em;
                color: #fff;
                background-color: #212121;
            }

            button {
                padding: 0.5rem 1.3rem;
                margin-left: 1rem;
                font-weight: bold;
                border-radius: 10px 5px 9px 4px;
                transition: all .4s;
                color: $white-color;
                background-color: $secondary-color;

                &:hover {
                    filter: brightness(1.3);
                }
            }
        }

        @media only screen and (max-width: 1208px) {
            img {
                width: 21rem;
                height: 33rem;
            }
        }

        @media only screen and (max-width: 992px) {
            img {
                width: 20rem;
                height: 30rem;
            }
        }

        @media only screen and (max-width: 600px) {
            border-radius: 20px;

            img {
                width: 18rem;
                height: 26rem;
            }
        }
    }
}